<div class="row">
	<div class="items-container" >
		<div class="col-md-4 col-sm-4 col-xs-4" ng-repeat="item in menu.items">
			<img class="item_image" ng-src="images/{{ item.img }}" alt="{{ item.name }}" />
			<h4><a ui-sref="item({id:item.id})" title="{{item.name}}">{{item.name}}</a></h4>
			<p>Rating: {{item.rating}}
				<span ng-if="item.rating > 4.0" ng-class="{highlight: item.rating > 4.5}">People love this item</span>
			</p>
			<button ng-click="menu.increment(item)">+</button>
			<button ng-click="menu.decrement(item)">-</button>
			<hr>
			<div class="well">
				<select name="" ng-model="item.meal">
					<option value="breakfast">Breakfast</option>
					<option value="lunch">Lunch</option>
					<option value="dinner">Dinner</option>
				</select>
				<button ng-click="menu.chooseItem(item.meal, item.name)">Select item</button>
			</div>
		</div>
		
	</div>
	
</div>